body {
	margin: 0;
	padding: 0;
	
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: bold;
	text-transform: uppercase;
	color: #000000;

	background-color: #f0f0f0;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

a {
	text-decoration: none;
	color: #000000;
}

img {
	max-width: 100%;
	height: auto;
}

/* Универсальный класс 
для скрытых эл-тов */
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;

	-webkit-clip-path: inset(100%);

			clip-path: inset(100%);
	clip: rect(0, 0, 0, 0);
	overflow: hidden;
}

ul {
	list-style: none; 
	margin: 0;
	padding: 0;
}

.container {
	padding: 0;
	margin: 0 auto;
	width: 1200px;
	
	background-color: #ffffff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.main-navigation-items {
	display: flex;
	/*justify-content: space-around;*/
	flex-wrap: wrap;
}

.main-navigation {
	background-color: #ffffff;
}

.logo {
	position: relative;
}

.logo img {
	position: absolute;
	z-index: 2;
	left: 49px;
	top: 0px;
}

.navigation-item {
	line-height: 26px;
}

.navigation-item {
	display: inline-block;

	padding-top: 15px;
	padding-right: 55px;
	padding-bottom: 15px;
	padding-left: 55px;
	min-width: 130px;

	text-align: center;
	vertical-align: middle;
}

.header-image img {
	display: block;
	width: 459px;
	height: 353px;
	margin: 0 auto;
	padding-top: 76px;
	padding-bottom: 80px;
}

.header-image {
	position: relative;
	
	background-color: #6e95bb;
	background-image: url("../img/background-photo-big.jpg");
	background-repeat: no-repeat;
	background-position: 0 -83px;
}

.header-image::after {
	content: "";
	position: absolute;
	
	bottom: -2px;
	left: 0px;
	width: 1200px;
	height: 59px;
	background-image: url("../img/polygon.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.main-header {
	margin-bottom: 60px;
}

/*Начало блока преимуществ*/
.promo-block-title {
	font-size: 21px;
	line-height: 26px;
}

.promo-block {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.promo-block-title {
	width: 440px;
	margin: 0;
	padding: 0;
	margin-bottom: 26px;
	
	text-align: center;
	vertical-align: middle;
}

.advantage {
	width: 489px;
	margin: 0;
	padding: 0;
	margin-bottom: 51px;
	
	font-weight: normal;
	line-height: 26px;
	color: #333333;
}

.advantage-list h3,
.advantage-list p {
	margin: 0;
	padding: 0;
}

.advantage-list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.description {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	
	width: 300px;
	padding: 0 50px;
	
	text-align: center;
}

.first-advantage, 
.second-advantage {
	color: #ffffff;
	background-color: #81b3d2;
}

.third-advantage,
.fourth-advantage,
.fifth-advantage {
	background-color: #eeeeee;
}

.description h3 {
	font-size: 21px;
}

.description span,
.description p {
	font-size: 14px;
	font-weight: normal;
}

.description .city,
.description .bridge {
	width: 125px;
	margin-top: -13px;
	margin-bottom: 24px;
}

.description .number {
	margin-bottom: 22px;
}

.first-advantage-img,
.second-advantage-img {
	height: 256px;
}

.detailed-first .hotels,
.detailed-second .food,
.detailed-third .souvenirs {
	position: relative;
	padding-top: 161px;
	margin-bottom: 24px;
}

.detailed-first .hotels::before {
	content: "";

	position: absolute;
	top: 60px;
	left: -4px;

	width: 75px;
	height: 72px;

	background-image: url("../img/icon-1.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.detailed-second .food::before {
	content: "";

	position: absolute;
	top: 60px;
	left: -18px;

	width: 74px;
	height: 70px;

	background-image: url("../img/icon-3.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.detailed-third .souvenirs::before {
	content: "";

	position: absolute;
	top: 56px;
	left: 19px;

	width: 64px;
	height: 74px;

	background-image: url("../img/icon-2.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.detailed-first .advantage-description-hotels,
.detailed-second .advantage-description-food,
.detailed-third .advantage-description-souvenirs {
	margin-bottom: 82px;
}

.description .bridge {
	width: 151px;
}

.second-advantage p {
	width: 303px;
}

.third-advantage .advantage-title,
.fourth-advantage .advantage-title,
.fifth-advantage .advantage-title {
	width: 125px;
	margin-top: 47px;
	margin-bottom: 24px;
}

.third-advantage p {
	width: 208px;
}

.fourth-advantage p {
	width: 262px;
}

.fifth-advantage p {
	width: 247px;
}

.third-advantage .advantage-description,
.fourth-advantage .advantage-description,
.fifth-advantage .advantage-description {
	margin-bottom: 47px;
}









