body {
	margin: 0;
	padding: 0;
	
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: bold;
	text-transform: uppercase;
	color: #000000;

	background-color: #f0f0f0;
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

/* Универсальный класс 
для скрытых эл-тов */
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;

	-webkit-clip-path: inset(100%);

			clip-path: inset(100%);
	clip: rect(0, 0, 0, 0);
	overflow: hidden;
}

/*ul {
	list-style: none; 
	margin: 0;
	padding: 0;
}*/

.container {
	padding: 0;
	margin: 0 auto;
	width: 1200px;
	overflow: hidden;
	background-color: #ffffff;
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.wrapper {
	width: 1056px;
	margin: 0 auto;
	/*padding: 0 72px;*/
}

.main-navigation-items {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	/*justify-content: space-around;*/
	-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	list-style: none; 
	margin: 0;
	padding: 0;
}

/*.main-navigation {
	background-color: #ffffff;
}*/

.logo {
	position: relative;
}

.logo img:focus {
	outline: 2px solid #81b3d2;
}

.navigation-item a {
	color: #000000;
}

.navigation-item a:hover {
	color: #81b3d2;
}

.navigation-item a:active {
	color: rgba(0, 0, 0, 0.3);
}

.navigation-item a:focus {
	color: #766357;
}

.navigation-item .active-page {
	color: #766357;
}

.logo img {
	position: absolute;
	z-index: 2;
	left: 49px;
	top: 0px;
}

.navigation-item {
	line-height: 26px;
}

.navigation-item {
	padding-top: 15px;
	padding-right: 55px;
	padding-bottom: 15px;
	padding-left: 55px;
	min-width: 130px;

	text-align: center;
	vertical-align: middle;
}

.header-image img {
	display: block;
	width: 459px;
	height: 352px;
	margin: 0 auto;
	padding-top: 76px;
	padding-bottom: 80px;
}

.header-image {
	position: relative;
	
	background-color: #6e95bb;
	background-image: url("../img/background-photo-big.jpg");
	background-repeat: no-repeat;
	background-position: 0 -83px;
}

.header-image::after {
	content: "";
	position: absolute;
	
	bottom: -2px;
	left: 0px;
	width: 1200px;
	height: 59px;
	background-image: url("../img/polygon.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.main-header {
	margin-bottom: 61px;
}

/*Начало блока преимуществ*/
.promo-block-title {
	font-size: 21px;
	line-height: 26px;
}

.promo-block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
		-ms-flex-direction: column;
			flex-direction: column;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
}

.promo-block-title {
	width: 440px;
	margin: 0;
	padding: 0;
	margin-bottom: 26px;
	
	text-align: center;
	vertical-align: middle;
}

.advantage {
	width: 495px;
	margin: 0;
	padding: 0;
	margin-bottom: 51px;
	
	font-weight: normal;
	line-height: 26px;
	text-align: center;
	
	color: #333333;
}
/*Преимущества*/
.advantage-list h3,
.advantage-list p {
	margin: 0;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
}

.advantage-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
		-ms-flex-pack: justify;
			justify-content: flex-start;
	-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	
	list-style: none; 
	margin: 0;
	padding: 0;
}

.description-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
		-ms-flex-pack: justify;
			justify-content: flex-start;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	-webkit-align-self: stretch;
		-ms-align-self: stretch;
			-ms-flex-item-align: stretch;
		align-self: stretch;
	
	list-style: none; 
	margin: 0;
	padding: 0;
}

.description {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
		-ms-flex-direction: column;
			flex-direction: column;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	-webkit-align-self: stretch;
		-ms-align-self: stretch;
			-ms-flex-item-align: stretch;
	align-self: stretch;

	width: 300px;
	padding: 0 50px;
	
	text-align: center;
}

.first-advantage, 
.second-advantage {
	color: #ffffff;
	background-color: #81b3d2;
	min-height: 256px;
}

.first-advantage:focus,
.second-advantage:focus,
.third-advantage:focus,
.fourth-advantage:focus,
.fifth-advantage:focus {
	outline: 1px solid #81b3d2;
}

.third-advantage,
.fourth-advantage,
.fifth-advantage {
	background-color: #eeeeee;
}

.description h3 {
	margin: 0;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 24px;
	font-size: 21px;
}

.description span,
.description p {
	font-size: 14px;
	font-weight: normal;
}

.description .city,
.description .bridge {
	width: 125px;
	margin-left: auto;
	margin-right: auto;
	margin-top: -13px;
	margin-bottom: 24px;
}

.description .number {
	display: inline-block;
	margin-bottom: 22px;
	vertical-align: middle;
}

.first-advantage-img,
.second-advantage-img {
	height: 256px;
}

.detailed-first,
.detailed-second,
.detailed-third {
	position: relative;
	padding-top: 161px;
}

.detailed-first p,
.detailed-second p,
.detailed-third p {
	width: 285px;
}

.detailed-first:focus,
.detailed-second:focus,
.detailed-third:focus {
	outline: 1px solid #81b3d2;
}

.detailed-first::before {
	content: "";

	position: absolute;
	top: 60px;
	left: 162px;

	width: 75px;
	height: 72px;

	background-image: url("../img/detailed-icon-1.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.detailed-second::before {
	content: "";

	position: absolute;
	top: 61px;
	left: 163px;

	width: 74px;
	height: 70px;

	background-image: url("../img/detailed-icon-3.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.detailed-third::before {
	content: "";

	position: absolute;
	top: 56px;
	left: 168px;

	width: 64px;
	height: 74px;

	background-image: url("../img/detailed-icon-2.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.detailed-first .advantage-description-hotels,
.detailed-second .advantage-description-food,
.detailed-third .advantage-description-souvenirs {
	margin: 0;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 82px;
}

.description .bridge {
	width: 151px;
}

.first-advantage p {
	width: 290px;
}

.second-advantage p {
	width: 303px;
}

.third-advantage .advantage-title,
.fourth-advantage .advantage-title,
.fifth-advantage .advantage-title {
	width: 125px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 47px;
	margin-bottom: 24px;
}

.third-advantage p {
	width: 210px;
}

.fourth-advantage p {
	width: 262px;
}

.fifth-advantage p {
	width: 247px;
}

.third-advantage .advantage-description,
.fourth-advantage .advantage-description,
.fifth-advantage .advantage-description {
	margin: 0;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 58px;
}

.advantage-block {
	margin-bottom: 50px;
}

/*Блок с формой поиска*/
.search-hotels {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
		-ms-flex-direction: column;
			flex-direction: column;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	
	position: relative;
}

.search-hotels-title {
	font-size: 30px;
	line-height: 36px;
}

.search-hotels h2,
.search-hotels p {
	margin: 0;
	padding: 0;
}

.search-hotels .search-hotels-title {
	width: 434px;
	margin-bottom: 25px;
	
	text-align: center;
	vertical-align: middle;
}

.search-hotels .travel-dates {
	width: 440px;

	margin-bottom: 46px;
	font-weight: normal;
	line-height: 24px;
	text-align: center;
	vertical-align: middle;
	color: #333333;
}

.search-hotels .button {
	position: relative;
	display: inline-block;
	
	padding-top: 30px;
	padding-right: 140px;
	padding-bottom: 30px;
	padding-left: 140px;
	min-width: 290px;
	
	text-align: center;
	vertical-align: middle;
	
	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
	color: #ffffff;
	background-color: #766357;
	/*border: 1px solid;*/
}

.search-hotels .button:hover {
	background-color: #604e43;
}

.search-hotels .button:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #503e33;
}

/*Стилизация формы*/
.user-search-form {
	width: 568px;
	-webkit-box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
	        box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
}

.search-form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
		-ms-flex-direction: column;
			flex-direction: column;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
}

.entry-form {
	position: relative;
	margin: 0;
	padding: 0;
	line-height: 26px;
}

.entry-form input {
	font: inherit;
}
/*Правила для стилизации placeholder*/

.departure-date::-webkit-input-placeholder,
.arrival-date::-webkit-input-placeholder,
.quantity::-webkit-input-placeholder { 
	color: #000000;
}

.departure-date:-ms-input-placeholder,
.arrival-date:-ms-input-placeholder,
.quantity:-ms-input-placeholder { 
	color: #000000;
}

.departure-date::-ms-input-placeholder,
.arrival-date::-ms-input-placeholder,
.quantity::-ms-input-placeholder { 
	color: #000000;
}

.departure-date::placeholder,
.arrival-date::placeholder,
.quantity::placeholder { 
	color: #000000;
}

/*	input[type="search"]::-moz-placeholder {
	color: #ffd595; /* Цвет подсказывающего текста */
/*}
   input[type="search"]::-webkit-input-placeholder { color: #ffd595; }
   input[type="search"]:-ms-input-placeholder { color: #ffd595; }
   input[type="search"]::-ms-input-placeholder { color: #ffd595; }
   input[type="search"]::placeholder { color: #ffd595; }*/

.arrival-input {
	margin-top: 55px;
	margin-bottom: 29px;
}

.entry-form-arrival {
	padding-right: 22px;
}

.calendar {
	outline: none;
}

.calendar path {
	fill: #cacaca;
}

.calendar:hover path,
.calendar:focus path {
	fill: #000000;
}

.calendar:active path {
	fill: #81b3d2;
}

.entry-form-departure {
	padding-right: 18px;
}

.quantity {
	width: 38px;
}

.arrival-date,
.departure-date {
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
	padding: 0;
	border: 0;
	width: 349px;
	height: 38px;

	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
	text-transform: uppercase;
	color: #000000;
	background-color: #f2f2f2;
}

.arrival-date:hover,
.departure-date:hover {
	background-color: #ebebeb;
}

.arrival-date:focus,
.departure-date:focus {
	background-color: #ffffff;
	border: 2px solid #e5e5e5;
	outline: none;
}

.arrival-date {
	padding-left: 13px;
}

.departure-date {
	padding-left: 13px;
}

.calendar {
	position: absolute;
	top: 7px;
	right: 5px;
	background-color: transparent;
	border: none;
}

.departure {
	margin-bottom: 30px;
}

.booking-people {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 54px;
}

.booking-people label {
	padding-top: 6px;
	padding-bottom: 6px;
}

.quantity {
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
	border: 0;
	width: 38px;
	height: 38px;

	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	vertical-align: middle;
	color: #000000;
	background-color: #f2f2f2;
}

.quantity:hover {
	background-color: #ebebeb;
}

.quantity:focus {
	background-color: #ffffff;
	border: 2px solid #e5e5e5;
	outline: none;
}

.button-minus-adults,
.button-plus-adults,
.button-minus-child,
.button-plus-child {
	background-color: transparent;
	border: none;
	outline: none;
}

.button-minus-adults {
	padding: 0;
	width: 38px;
	height: 38px;

	background-color: #f2f2f2;
	cursor: pointer;
}

.button-plus-adults {
	padding: 0;
	width: 38px;
	height: 38px;

	background-color: #f2f2f2;
	margin-right: 30px;
	cursor: pointer;
}

.button-minus-adults path,
.button-plus-adults path,
.button-minus-child path,
.button-plus-child path {
	fill: #cacaca;
}

.choice-adults {
	padding-right: 40px;
}

.button-minus-adults:hover path,
.button-minus-adults:focus path,
.button-plus-adults:hover path,
.button-plus-adults:focus path {
	fill: #000000;
}

.button-minus-adults:active path,
.button-plus-adults:active path {
	fill: #81b3d2;
}

.choice-child {
	padding-right: 27px;
}

.button-minus-child {
	padding: 0;
	width: 38px;
	height: 38px;
	
	background-color: #f2f2f2;
	cursor: pointer;
}

.button-plus-child {
	padding: 0;
	width: 38px;
	height: 38px;
	
	background-color: #f2f2f2;
	cursor: pointer;
}

.button-minus-child:hover path,
.button-minus-child:focus path,
.button-plus-child:hover path,
.button-plus-child:focus path {
	fill: #000000;
}

.button-minus-child:active path,
.button-plus-child:active path {
	fill: #81b3d2;
}

.booking-people .button-plus-adults {
	margin-right: 53px;
}

.button-form {
	width: 458px;
}

.button-submit {
	margin-left: 55px;
}
/*Сделал кнопку более универсальной*/
.button-submit {
	display: inline-block;
	
	padding-top: 16px;
	/*padding-right: 96px;*/
	padding-bottom: 16px;
	/*padding-left: 96px;*/
	min-width: 100%;
	
	text-align: center;
	vertical-align: middle;
	
	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
	text-transform: uppercase;
	color: #ffffff;
	
	background-color: #81b3d2;
	border: none;
	cursor: pointer;
}

.button-submit:hover {
	background-color: #669ec0;
}

.button-submit:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #5496bd;
}

.button-form button{
	margin-bottom: 55px;
}

.map iframe {
	position: absolute;
	z-index: 2;

	border: none;
}

/*Стили для внутренней страницы*/
.inner-page .main-header {
	margin-bottom: 0px;
}

.filter-block {
	position: relative;
	margin: 0;
	margin-bottom: 25px;
	padding: 0;
	width: 1200px;
	height: 218px;
	
	color: #ffffff;
	background-color: #6e95bb;
	background-image: url("../img/filter-background.jpg");
	background-repeat: no-repeat;
	background-position: 0 -305px;
}

.filter-block legend {
	font-size: 16px;
	line-height: 21px;
	font-weight: bold;
	text-transform: uppercase;
}

.filter-item {
	margin: 0;
	padding: 0;

	border: none;
}

.filter-item ul {
	list-style: none; 
	margin: 0;
	padding: 0;
}

.filter {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
		flex-wrap: wrap;
}

.filter fieldset:nth-child(1) {
	width: 240px;
	margin-top: 27px;
	padding-left: 71px;
}

.filter fieldset:nth-child(2) {
	width: 290px;
	margin-top: 27px;
	padding-left: 15px;
	margin-right: 195px;
}

.filter fieldset:nth-child(3) {
	/*width: 328px;*/
	margin-top: 27px;
	padding-right: 60px;
}

.infrastructure,
.type-housing {
	margin-bottom: 24px;
}

.infrastructure-item label,
.type-housing-item label {
	position: relative;
	padding-left: 41px;
	text-transform: uppercase;
	cursor: pointer;
}

.infrastructure-item,
.type-housing-item {
	padding-bottom: 25px;
}

/*.infrastructure-item,
.type-housing-item {
	padding-left: 41px;
}*/

.filter-input-checkbox + label::before {
	content: "";
	position: absolute;
	width: 23px;
	height: 23px;
	top: -1px;
	left: -0px;
	background-image: url("../img/checkbox-off.svg");
	background-repeat: no-repeat;
}

.filter-input-checkbox:checked + label::before {
	content: "";
	position: absolute;
	width: 27px;
	height: 23px;
	top: -1px;
	left: 0px;
	background-image: url("../img/checkbox-on.svg");
	background-repeat: no-repeat;
}

.filter-input-checkbox:disabled + label::before {
	content: "";
	position: absolute;
	width: 23px;
	height: 23px;
	top: -1px;
	left: -0px;
	background-image: url("../img/checkbox-disabled-off.svg");
	background-repeat: no-repeat;
}

.filter-input-checkbox:checked:disabled + label::before {
	content: "";
	position: absolute;
	width: 27px;
	height: 23px;
	top: -1px;
	left: 0px;
	background-image: url("../img/checkbox-disabled-on.svg");
	background-repeat: no-repeat;
}

/*Для блокировки текста, если будет
такая необходимость*/
/*.filter-input-checkbox:checked:disabled + label {
	color: #6a6a6a;
	opacity: 0.8;
}*/

.filter-input-checkbox:checked:disabled + label::before {
	color: #6a6a6a;
	opacity: 0.3;
}

.filter-input:focus + label::before {
	outline: 1px solid #4cb7d6;
}

.price legend {
	margin-bottom: 11px;
}

.filter-item input[type="text"] {
	background-color: transparent;
	border: 2px solid #ffffff;
}

.filter-item input {
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 14px;
	line-height: 21px;
	font-weight: normal;
	text-transform: uppercase;
	text-align: center;
	width: 157px;
	color: #ffffff;
}

.price-controls {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.price-controls input[name="min-price"] {
	border-right: none;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	/*border-radius: 2px 0 0 0px;*/
}

.price-controls input[name="max-price"] {
	border-left: none;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.price-controls {
	position: relative;
}

.price-controls::before {
	position: absolute;
	content: "";
	width: 2px;
	height: 22px;
	top: 7px;
	left: 50%;
	background: #ffffff;
}

/*.price-controls span {
	padding-top: 4px;
	border-top: 2px solid #ffffff;
	border-bottom: 2px solid #ffffff;
}*/

.range-controls {
	position: relative;

	/*height: 41px;*/
	padding-top: 21px;
	margin-bottom: 32px;
	/*padding-right: 10px;*/
	padding-left: 20px;
	background-color: transparent;
}

.range-controls .bar {
	width: 80%;
	height: 2px;

	background: #ffffff;
}

.range-controls .scale {
	height: 2px;

	background: #d7dcde;
}

.range-controls .toggle {
	position: absolute;
	top: 12px;
	left: 0;

	width: 4px;
	height: 4px;
	padding: 0;

	border: 8px solid #ffffff;
	border-radius: 50%;
	background-color: #ababab;
	-webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
		box-shadow: 0 2px 1px 0 #cfcfcf;
	cursor: pointer;
}

.range-controls .toggle:hover,
.range-controls .toggle:focus {
	-webkit-transform: scale(1.2);
		-ms-transform: scale(1.2);
			transform: scale(1.2);
	background: #1c4f80;
}

.range-controls .toggle-min {
	left: 0px;
}

.range-controls .toggle-max {
	left: 252px;
}

.filter-button {
	font-size: 14px;
	line-height: 21px;
	font-weight: normal;
	text-transform: uppercase;
	color: #ffffff;
	/*text-align: center;*/
	background-color: transparent;
	border: 2px solid #ffffff;
}

.price .button {
	/*display: inline-block;*/
	
	margin-left: 85px;
	padding-top: 5px;
	padding-right: 33px;
	padding-bottom: 6px;
	padding-left: 35px;
	min-width: 65px;
	
	text-align: center;
	vertical-align: middle;
	
	border-radius: 2px;
	cursor: pointer;
}

.price .button:hover,
.price .button:focus {
	color: #000000;
	background-color: #ffffff;
	border-radius: 2px;
}

.sort-block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
}

.sort-panel {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	-webkit-box-pack: justify;
		-ms-flex-pack: justify;
			justify-content: space-between;
	-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	
	list-style: none; 
	margin: 0;
	padding: 0;
}

.found {
	margin-right: 47px;

	font-size: 21px;
	line-height: 26px;
	
	text-transform: uppercase;
}

.sort-block {
	margin-bottom: 23px;
}

.sort-block .block-title {
	margin-right: 41px;

	font-size: 12px;
	line-height: 18px;
	font-weight: normal;
	text-transform: uppercase;
}

.sort-panel li {
	font-size: 12px;
	line-height: 18px;
	font-weight: normal;
	text-transform: uppercase;
}

.sort-panel li:nth-child(1) {
	margin-right: 32px;
}

.sort-panel li:nth-child(2) {
	margin-right: 34px;
}

.sort-panel li:nth-child(3) {
	margin-right: 504px;
}

.sort-panel li:nth-child(4) {
	margin-right: 11px;
}

.sort-active {
	color: #81b3d2;
}

.type a,
.rated a {
	color: rgba(0, 0, 0, 0.3);
	border-bottom: 1px dashed #81b3d2;
}

.type:hover a,
.type:focus a,
.rated:hover a,
.rated:focus a {
	color: #81b3d2;
	border-bottom: 1px dashed #81b3d2;
}

.type:active a,
.rated:active a {
	color: #000000;
	border-bottom: none;
}

.up path,
.down path {
	fill: #cacaca; 
}

.active-up path {
	fill: #81b3d2;
}

.up:hover path,
.up:focus path,
.down:hover path,
.down:focus path {
	fill: #000000; 
}

.up:active path,
.down:active path {
	fill: #81b3d2; 
}

.layer {
	width: 1200px;
	/*margin-bottom: 24px;*/
	
	height: 1px;
	background: #e5e5e5;
}

.hotel-list {
	list-style: none; 
	margin: 0;
	padding: 0;
}

.hotel-items {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	/*align-items: center;*/
	padding: 24px 72px 0px;
	border-bottom: 1px solid #e5e5e5;
}

/*.hotel-link {
	display: block;
}*/

.hotel-link img {
	margin-right: 10px;
	padding-top: 6px;
}

.card-title {
	margin: 0;
	padding: 0;
	margin-bottom: 9px;
}

.card-title a:hover,
.card-title a:focus {
	color: #81b3d2;
}

.card-title a:active {
	color: rgba(0, 0, 0, 0.3);
}

.card-title a {
	width: 210px;
	margin: 0;
	padding: 0;
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	text-transform: uppercase;
	color: #000000;
}

.hotel-card {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
		-ms-flex-direction: column;
			flex-direction: column;
	-webkit-box-flex: 1;
		-ms-flex-positive: 1;
			flex-grow: 1;
	padding-left: 21px;
	padding-right: 31px;
}

.hotel-card span {
	font-size: 14px;
	line-height: 21px;
	font-weight: normal;
	text-transform: uppercase;
	color: #333333;
}

.info-card {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
		-ms-flex-direction: row;
			flex-direction: row;
}

.description-hotel {
	width: 110px;
	margin-right: 5px;
}

.description-hotel span {
	display: block;
	margin-bottom: 13px;
}

.hotel-link-btn {
	font-size: 14px;
	line-height: 21px;
	font-weight: bold;
	text-transform: uppercase;
	color: #ffffff;
	
	display: inline-block;
	
	padding-top: 3px;
	padding-right: 16px;
	padding-bottom: 3px;
	padding-left: 16px;
	min-width: 76px;
	
	text-align: center;
	vertical-align: middle;
	
	background-color: #81b3d2;
}

.hotel-link-btn:hover,
.hotel-link-btn:focus {
	background-color: #669ec0;
}

.hotel-link-btn:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #5496bd;
}

.booking-hotel {
	width: 142px;
}

.booking-hotel span {
	display: block;
	margin-bottom: 13px;
}

.book-btn {
	font-size: 14px;
	line-height: 21px;
	font-weight: bold;
	text-transform: uppercase;
	color: #ffffff;
	
	display: inline-block;
	
	padding-top: 3px;
	padding-right: 16px;
	padding-bottom: 3px;
	padding-left: 16px;
	min-width: 110px;
	
	text-align: center;
	vertical-align: middle;
	
	background-color: #766357;
}

.book-btn:hover,
.book-btn:focus {
	background-color: #604e43;
}

.book-btn:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #503e33;
}

.hotel-rating {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
		-ms-flex-direction: column;
			flex-direction: column;
	-webkit-box-align: end;
		-ms-flex-align: end;
			align-items: flex-end;
	-ms-flex-item-align: start;
	    align-self: flex-start;
	padding-top: 4px;
	width: 110px;
}

.hotel-stars {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
		-ms-flex-pack: start;
			justify-content: flex-start;
}

.hotel-stars .star {
	content: "";
	/*width: 18px;*/
	height: 17px;

	padding-right: 24px;
	background-image: url("../img/star.svg");
	background-repeat: no-repeat;
}

.stars-four,
.stars-three,
.stars-two {
	list-style: none; 
	margin: 0;
	padding: 0;
}

.stars-four {
	width: 89px;
	margin-bottom: 48px;
}

.stars-three {
	width: 65px;
	margin-bottom: 48px;
}

.stars-two {
	width: 41px;
	margin-bottom: 48px;
}

.rating-score {
	margin: 0;
	margin-bottom: 30px;

	font-size: 14px;
	line-height: 21px;
	font-weight: normal;
	text-transform: uppercase;
	color: #666666;
	
	display: inline-block;
	
	padding-top: 3px;
	padding-right: 13px;
	padding-bottom: 3px;
	padding-left: 14px;
	min-width: 83px;
	
	text-align: center;
	vertical-align: middle;
	
	background-color: #f2f2f2;
}

/*===============================*/
.main-footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
	-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	position: relative;

	margin-top: -127px;
	z-index: 10;
	background: rgba(255, 255, 255, 0.9);
}

.inner-page .main-footer {
	margin-top: 0px;
}

.hashtag {
	margin: 0;
	margin-left: 132px;
	padding-top: 46px;
	padding-bottom: 48px;
	
	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
}

.footer-social {
	width: 151px;
	margin-right: -28px;
}

.footer-social:nth-child(2) {
	padding-bottom: 1px;
}

.footer-copyright span {
	display: inline-block;
	padding-bottom: 8px;
	vertical-align: middle;
}

.social-btn {
	color: #ffffff;
}

.social-btn-tw {
	position: relative;
	display: inline-block;
	
	width: 46px;
	height: 48px;
	
	background-color: #81b3d2;
	margin-right: 3px;
	vertical-align: middle;
}

.social-btn-tw:hover,
.social-btn-tw:focus {
	background-color: #669ec0;
}

.social-btn-tw:active {
	background-color: #5496bd;
}

.social-btn-tw:active::before {
	opacity: 0.3;
}

.social-btn-tw::before {
	content: "";
	position: absolute;
	top: 17px;
	left: 15px;
	width: 17px;
	height: 15px;
	background-image: url("../img/twitter.svg");
	background-repeat: no-repeat;
}

.social-btn-vk {
	position: relative;
	display: inline-block;
	
	width: 46px;
	height: 48px;
	
	background-color: #81b3d2;
	margin-right: 2px;
	vertical-align: middle;
}

.social-btn-vk:hover,
.social-btn-vk:focus {
	background-color: #669ec0;
}

.social-btn-vk:active {
	background-color: #5496bd;
}

.social-btn-vk:active::before {
	opacity: 0.3;
}

.social-btn-vk::before {
	content: "";
	position: absolute;
	top: 13px;
	left: 16px;
	width: 12px;
	height: 22px;
	background-image: url("../img/fb-icon.svg");
	background-repeat: no-repeat;
}

.social-btn-tube {
	position: relative;
	display: inline-block;

	width: 46px;
	height: 48px;
	
	background-color: #81b3d2;
	vertical-align: middle;
}

.social-btn-tube:hover,
.social-btn-tube:focus {
	background-color: #669ec0;
}

.social-btn-tube:active {
	background-color: #5496bd;
}

.social-btn-tube:active::before {
	opacity: 0.3;
}

.social-btn-tube::before {
	content: "";
	position: absolute;
	top: 17px;
	left: 13px;
	width: 20px;
	height: 16px;
	background-image: url("../img/youtube.svg");
	background-repeat: no-repeat;
}

.social-btn {
	font-size: 0;
}

.footer-copyright {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	margin-right: 100px;
	padding-top: 5px;
}

.btn-developer:hover path,
.btn-developer:focus path {
	fill: #81b3d2;
}

.btn-developer:active path {
	fill: #bdbbbc;
}

.developer {
	line-height: 26px;
	font-weight: normal;
	margin-right: 8px;

	/*text-transform: uppercase;*/
	/*color: #000000;*/
}

/* Блок обратной связи */
.footer-contacts-mail {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
		-ms-flex-direction: column;
			flex-direction: column;
	-webkit-box-align: start;
		-ms-flex-align: start;
			align-items: center;
	/*text-align: right;
	padding-top: 4px;*/
}

/*============================*/
/*Модальное окно*/
/*Форма поиска отелей*/
/*.modal {
	display: block;
}*/

.modal {
	position: relative;
	display: block;

	color: #000000;
	background-color: #ffffff;

	-webkit-box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);

	box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.modal-search {
	position: absolute;
	width: 568px;
	/*margin-left: -193px;*/
	z-index: 1000;

	top: 241px;
	left: 316px;
}

/*.modal-show {
	display: block;
	-webkit-animation-name: bounce;
			animation-name: bounce;
	-webkit-animation-duration: 0.6s;
			animation-duration: 0.6s;
}*/

.modal-close {
	display: none;
	-webkit-animation-name: bounce;
			animation-name: bounce;
	-webkit-animation-duration: 0.6s;
			animation-duration: 0.6s;
}

@-webkit-keyframes bounce {
	0% {
	-webkit-transform: scale(1);
			transform: scale(1);
	/*-webkit-transform: translateX(-20px);
			transform: translateX(-20px);*/
	}
	70% {
	-webkit-transform: scale(0.5);
			transform: scale(0.5);
	}
	90% {
	-webkit-transform: scale(0.25);
			transform: scale(0.25);
	}
	100% {
	-webkit-transform: scale(0);
			transform: scale(0);
	}
}

@keyframes bounce {
	0% {
	-webkit-transform: scale(1);
			transform: scale(1);
	/*-webkit-transform: translateX(-20px);
			transform: translateX(-20px);*/
	}
	70% {
	-webkit-transform: scale(0.5);
			transform: scale(0.5);
	}
	90% {
	-webkit-transform: scale(0.25);
			transform: scale(0.25);
	}
	100% {
	-webkit-transform: scale(0);
			transform: scale(0);
	}
}

.modal-error {
	-webkit-animation-name: shake;
			animation-name: shake;
	-webkit-animation-duration: 0.6s;
			animation-duration: 0.6s
}

@-webkit-keyframes shake {
	0%, 100% {
	-webkit-transform: translateX(0);
			transform: translateX(0);
	}
	10%, 30%, 50%, 70%, 90% {
	-webkit-transform: translateX(-10px);
			transform: translateX(-10px);
	}
	20%, 40%, 60%, 80% {
	-webkit-transform: translateX(10px);
			transform: translateX(10px);
	}
}

@keyframes shake {
	0%, 100% {
	-webkit-transform: translateX(0);
			transform: translateX(0);
	}
	10%, 30%, 50%, 70%, 90% {
	-webkit-transform: translateX(-10px);
			transform: translateX(-10px);
	}
	20%, 40%, 60%, 80% {
	-webkit-transform: translateX(10px);
			transform: translateX(10px);
	}
}